[Desktop Entry]
Type=Application
Version=1.0
Name=BetterTop
GenericName=Machine Learning Workstation Monitor
Comment=Monitor host resources, NVIDIA GPUs, and GPU processes
Icon=bettertop
Exec=bettertop
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task;GPU;machine learning;
